/* Container for the table to make it scrollable */
.table-container {
    /* max-height: calc(100vh - 7rem); */
    margin-top: 1.5rem;
}

/* Style for the table section */
.table-section {
    /* Adjust the top value as needed */
    top: 2rem;
}

/* Style for the table */
.table-section table {
    width: 97%;
    border: 1px solid #ddd;
    border-radius: 14px;
    height: 100%;
    color: var(--text);
}

/* Style for table header cells */
.table-section thead th {
    position: relative;
    top: 0;
    font-size: 16px;
    /* z-index: 1;  */
    text-align: center;
}

/* Style for table body cells */
.table-section th, .table-section td {
    border-bottom: 1px solid #ddd;
    padding: 8px; /* Adjust the padding as needed */
    text-align: center;
}

.table-section td {
    font-weight: 600;
}

.table-section table a {
    text-decoration: none;
}

.table-section table .fa-pen {
    margin-right: 8px;
}

.table-section table #editUser {
    background-color: var(--true);
    padding: 4px 16px;
    color: white;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    margin-right: 8px;
}

.table-section table .delete {
    background-color: var(--wrong);
    padding: 4px 16px;
    color: white;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 8px;
}

.table-section table .fa-times {
    margin-right: 8px;
}

.table-section table .btn-fields {
    width: 20%;
}