.container{
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 16px;
    margin-bottom: 16px;
}

.details {
    border: 1px solid var(--box);
    border-radius: 11px;
    padding: 16px;
    width: 85%;
    position: relative;
    box-shadow: 1px 4px 5px #b4b1b1;
    cursor: pointer;
}

.details h2 {
    color: var(--cold);
    margin-bottom: 16px;
}

.details .note {
    font-size: 12px;
    color: var(--text3);
    margin-bottom: 16px;
}

.details table {
    text-align: center;
    width: 100%;
    color: var(--text3);
}

.type {
    background: var(--cold);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    color: white;
    text-align: center;
    position: absolute;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    right: -2rem; /* Stick to the right edge of .details */
    top: -2rem; /* Stick to the top edge of .details */
}