.table-section{ 
    padding-right: 20px;
}
.table-section table {
    border-top: 1px solid var(--util);
    border-bottom: 1px solid var(--text3);
    width: 100%;
    height: 100%;
    color: var(--cold);
}

.table-section thead th {
    font-size: 32px;
    padding: 20px;
}

.table-section thead th i {
    font-size: 18px;
}

.table-section thead th .fa-ellipsis-h{
    position: relative;
    top: 8px;
    margin-right: 16px;
}

.table-section thead th .fa-angle-double-right {
    font-size: 32px;
    color: var(--text2);
}